*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* GENERAL CSS */
body {
    font-family: "Roboto",serif;
    background-color: #080808;
}
.container {
    width: 1310px;
    margin: auto;
    padding: 0 50px;
}
.active {
    color: #fff !important;
}
a {
    text-decoration: none;
}
.overlay_background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

/* HEADER - NAV CSS */
header {
    height: 89px;
    width: 100%;
    background-color: #080808;
    border-bottom: 1px solid #363636;
}
nav {
    display: flex;
    align-items: center;
    /* padding: 0 50px; */
}
/* NAV BLOCK 1 */
.nav_logo {
    width: auto;
    height: 88px;
    object-fit: cover;
    flex-grow: 0;
}
/* NAV BLOCK 2 */
.menu {
    display: flex;
    flex-grow: 0;
    margin-left: 80px;
}
nav .menu a {
    position: relative;
    color: #4d4d4d;
    font-size: 13px;
    line-height: 88px;
    display: block;
    padding: 0 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
nav .menu a::before, .active::before {
    content: '';
    background-color: #fff !important;
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 100%;
    height: 2px;
    z-index: -1;
    transition: all .6s ease-in-out;
}
nav .menu a:hover {
    color: #fff;
}
nav .menu a:hover::before, .active::before {
    z-index: 10 !important;
    bottom: -1px !important;
}
/* NAV BLOCK 3 */
.nav_socials {
    display: flex;
    justify-content: flex-end;
    flex-grow: 10;
}
.nav_socials i {
    font-size: 14px;
    width: 30px;
    min-height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #4d4d4d;
    background-color: transparent;
    transition: all .5s linear;
}
.nav_socials a {
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.nav_socials a i:hover {
    color: #fff;
}
.nav_socials a:nth-child(1):hover {background-color: #0084ff;}
.nav_socials a:nth-child(2):hover {background-color: rgb(26, 26, 26);}
.nav_socials a:nth-child(3):hover {background-color: #FF0000;}
/* END HEADER - NAV CSS */

/* MAIN - BODY CSS */
main {
    min-height: 100vh;
}
/* BANNER CSS */
.banner {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 710px;
    background-image: url("/public/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    z-index: 1;
}
.banner_title {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}
.banner_desc {
    color: #fff;
    margin: 15px 0;
    font-size: 16px;
    line-height: 28px;
    font-weight: 100;
}
.banner_buttons .button {
    margin: 20px 20px 3px 0;
    padding: 8px 36px;
    color: #fff;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: all .5s ease-in-out;
}
.banner_buttons .button:hover {
    color: #000;
    background-color: #fff;
}
/* END BANNER CSS */

/* LIST SERVICES */
.list-services {
    background-color: #fff;
}
.service {
    padding-top: 90px;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 73px;
}
.service img {
    height: 380px;
    width: auto;
    object-fit: cover;
    border-radius: 3px;
}
.service_detail-title {
    font-weight: 100;
    color: #808080;
    font-size: 16px;
}
.service_detail-name {
    margin: 15px 0px 20px;
    font-size: 30px;
    color: #1f1f1f;
    font-weight: 300;
}
.service_detail-desc {
    color: #000;
    margin: 13px 0;
    font-weight: 100;
    padding-bottom: 20px;
}
.service_detail-btn {
    padding: 12px 16px 10px;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    font-weight: normal;
    transition: all .5s ease-in-out;
}
.service_detail-btn:hover {
    background-color: #f1f1f1;
    color: #000;
}
/* END LIST SERVICES */
/* END MAIN - BODY CSS */

/* FOOTER CSS */
footer {
    color: #fff;
    width: 100%;
    height: 263px;
    padding: 15px 0px 30px;
    background-color: #111;
}
footer > .container {
    text-align: center;
    margin: 30px auto;
}
footer > .container img {
    width: 200px;
    margin: auto;
}
.footer_address, .footer_copyright {
    color: #aaa;
    font-size: 12px;
    margin: 10px 0;
}
.footer_address a, .footer_copyright a { color: #fff;}
.footer_socials {margin: 30px 0;}
.footer_socials a {color: #fff;font-size: 23px;margin: 0 5px;margin-bottom: 10px !important;}
/* END FOOTER CSS */
